*.hi
*.o
*.chi
*.chs.h

.stack-work/
dist/
dist-*
cabal-dev/
.cabal-sandbox/
cabal.sandbox.config
.ghc.environment.*
sandbox.*

*~
*.swp
*.log
*.exe
*.out

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.DS_Store
Thumbs.db